@{
    ViewBag.Title = "Home Page";
}
@*<div class="container">
    <form>
        <br />
        <br />
        <div class="form-group">
            <label for=" inputName">Username</label>
            <input class="form-control" type="text" id="inputName" placeholder="username" />
        </div>

        <div class="form-group">
            <label for=" inputPassword">Password</label>
            <input class="form-control" type="password" id="inputPassword" placeholder="password" />
        </div>

        <div>
            <button class="btn btn-alert" id="login">Login</button>
        </div>

    </form>
</div>*@
